<div class="main">
  <div class="logo">
    <img
      style="width: 58.13px; height: 54.05px"
      src="./assets/images/favicon.png"
      alt=""
    />
  </div>
  <div class="summary">
    <span>Lorem ipsum dolor sit amet,</span><br />
    <span>
      consectetur adipiscing elit, sed do eiusmod tempor incididunt.
    </span>
  </div>
  <div class="action">
    <div class="list-item">
      <div class="item">About us</div>
      <div class="item">Learn with us</div>
      <div class="item">Our services</div>
      <div class="item">Pricing</div>
      <div class="item">Contact</div>
      <div class="item">FAQs</div>
    </div>
  </div>
  <div class="list-icon">
    <div class="icon">
      <img src="./assets/svg/fb-footer.svg" alt="" />
    </div>
    <div class="icon">
      <img src="./assets/svg/tw-footer.svg" alt="" />
    </div>
    <div class="icon">
      <img src="./assets/svg/insta-footer.svg" alt="" />
    </div>
  </div>
</div>
