/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: DM Sans;
  src: url("./assets/font/DM_Sans/DMSans-Regular.ttf");
}

@font-face {
  font-family: DM Sans-bold;
  src: url("./assets/font/DM_Sans/DMSans-Bold.ttf");
}

@font-face {
  font-family: DM Sans-medium;
  src: url("./assets/font/DM_Sans/DMSans-Medium.ttf");
}
